<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shyamu.translocwidget" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".WidgetListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WidgetConfigurationActivity" >
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".CustomizeWidgetActivity" />

        <receiver android:name=".TransLocWidgetProvider" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity
            android:name=".AddNewWidgetActivity"
            android:label="@string/title_activity_add_new_widget"
            android:parentActivityName=".WidgetListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shyamu.translocwidget.WidgetListActivity" />
        </activity>
        <activity
            android:name=".WidgetConfigActivity"
            android:label="@string/title_activity_widget_config"
            android:theme="@style/dialog_light">
        <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
